.App {
  text-align: center;
}

ul{
  text-align: center;
  padding: 0;
  width: 350px;
  margin: 0 auto 0 auto;
  padding: 20px;
}

li{
  display: inline;
  margin: 10px;

}

a{
  text-decoration: none;
}